
  .forecast { display: none;}

body {
  font-size: 16px;  
    background-color: cadetblue;
    
}

header, nav, main, footer { 
  max-width:100%; 
}
header img{float: left;}
nav{
    margin-top: 200px;
}
nav {
    list-style-type: none;
    margin-bottom:5px;
    padding:10px;
    overflow: hidden;
    background-color: #333;
}

.hero{
    width: 100%;
}
.info {
    font-size: 20px;    
}

.seaplane{
    float: right;
}
.bar {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
table, th, td {
    border: 1px solid black;
}
th {
    text-align: left;
}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    width: 250px; 
    float: right;
    margin-top: -30px;
    margin-right: 230px;
}
.clear{
    clear: both;
}

#footer{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}

.temp {
    margin-left: 100px
}

.clear {
    clear: both;
}

#sec1{
align-content: center;
}

--------------------------------------------------------------------------
main {margin: 0; padding: 0;}
main h2 { font-size: 20px}
.grid {margin: 10rem; 
       display: grid;
       grid-template-columns: 400px;
       grid-gap: 30px;
       border-radius: 5px 50px;
}
.gallerytitle {color:blue; font-size: 40px}

div.grid img:hover {box-shadow: 5px 5px 10px cadetblue; }

main figure{max-width: 96%; margin-top: 30px; margin-bottom: 5%}

main figure img {display: flex; width: 100%; border-radius: 10px  75px;} 

figcaption {font-size: 20px; margin: 10px;}

figcaption:hover {text-shadow: 7px 7px 7px cadetblue;}

.todayw ul li {list-style-type: none; font-size: 20px;}

.contactinfo {padding: 5%; background-color: cadetblue;}

.clearfix:after { content: ""; display: table; clear: both;}









