

* { box-sizing: border-box;}  
body {
  font-size: 16px;  
    background-color: cadetblue;
    
}

header, nav, main, footer { 
  max-width:_____; 
}
header img{float: left;}
nav{
    margin-top: 200px;
}
nav {
    list-style-type: none;
    margin: ;
    margin-bottom:5px;
    padding: ;
    overflow: hidden;
    background-color: #333;
}
.info {
    font-size: 20px;    
}

.seaplane{
    float: right;
    margin-top: -105px;
}
.bar {
    float: left;
    
}
.contact{
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
table, th, td {
    border: 1px solid black;
}
th {
    text-align: left;
}
.footer-bar{
    margin-left: 350px
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    width: 250px; 
    float: right;
    margin-top: -30px;
    margin-right: 230px
}

    
